<section ng-controller="TestsController" ng-init="findTestSets()">
  <h1 ng-hide="!testsets || testsets.length">No test has been run yet.</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th colspan="3">
          <input type="search" ng-model="nameFilter" placeholder="filter test sets..." />
        </th>
      </tr>
      <tr>
        <th>
          <a href="" ng-click="orderField='name';reverseOrder=!reverseOrder;">
            Test set
            <span class="icon-arrow-up" ng-show="reverseOrder!=true && orderField=='name'"></span>
            <span class="icon-arrow-down" ng-show="reverseOrder==true && orderField=='name'"></span>
          </a>
        </th>
        <th>
          <a href="" ng-click="orderField='created';reverseOrder=!reverseOrder;">
            Last run
            <span class="icon-arrow-up" ng-show="reverseOrder!=true && orderField=='created'"></span>
            <span class="icon-arrow-down" ng-show="reverseOrder==true && orderField=='created'"></span>
          </a>
        </th>
        <th>
          <a href="" ng-click="orderField='state.failed';reverseOrder=!reverseOrder;">
            Status
            <span class="icon-arrow-up" ng-show="reverseOrder!=true && orderField=='state.failed'"></span>
            <span class="icon-arrow-down" ng-show="reverseOrder==true && orderField=='state.failed'"></span>
          </a>
          <input type="checkbox" ng-model="showPassedFilter">show passed</input>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="animate-repeat" ng-repeat="testset in testsets|filter:nameFilter|stateFilter:showPassedFilter|orderBy:orderField:reverseOrder">
        <td>
          <a ng-href="#!/testsets/{{testset._id}}">{{testset.name}}</a>
        </td>
        <td>{{testset.created | date:'medium'}}</td>
        <td>
          <div class="progress">
            <div class="bar bar-success" style="width: {{testset.state.passed/(testset.state.passed+testset.state.failed)*100}}%">
              <span>{{testset.state.passed}}</span>
            </div>
            <div class="bar bar-danger" style="width: {{testset.state.failed/(testset.state.passed+testset.state.failed)*100}}%">
              <span>{{testset.state.failed}}</span>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</section>